<div>
    {{ 'training.user_naming.full_name.label'|trans ~ ': ' ~ user|oro_format_name }}
</div>
<div>
    {{ 'oro.user.name_prefix.label'|trans ~ ': ' ~ user.namePrefix }}
</div>
<div>
    {{ 'oro.user.first_name.label'|trans ~ ': ' ~ user.firstname }}
</div>
<div>
    {{ 'oro.user.middle_name.label'|trans ~ ': ' ~ user.middlename }}
</div>
<div>
    {{ 'oro.user.last_name.label'|trans ~ ': ' ~ user.lastname }}
</div>
<div>
    {{ 'oro.user.name_suffix.label'|trans ~ ': ' ~ user.nameSuffix }}
</div>
